@import "~leaflet/dist/leaflet.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "leaflet.scss";

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	font-family: courier;
	font-size: 12px;
	font-weight: 1000;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;

	input {
		font-size: 24px; // to match material defaults
		background-color: rgba(200, 200, 200, 0.5);
	}
	button {
		> i.material-icons {
			// vertically align material icons
			position: relative;
			top: 3px;
		}
	}
	button {
		font-weight: 1000;
	}
	input {
		font-weight: 700;
	}
	div.horizontal-separator {
		height: 0;
		border-top: 1px solid black;
		margin: 5px -10px 5px -6px;
	}
}

div#map {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	z-index: 0;
}

button#layers-control-toggle {
	position: absolute;
	top: 12.5px;
	left: 15px;
}

div#zoom-control {
	position: absolute;
	bottom: 12px;
	right: 18px;
	height: 295px;
	width: 44px;
	> div#zoom-level-text {
		font-size: 17pt;
		height: 30px;
		line-height: 30px;
		text-align: center;
	}
	> div#zoom-slider-container {
		height: 200px;
		width: 44px;
		> input#zoom-slider {
			position: relative;
			top: 83px;
			left: -77px;
			height: 30px;
			width: 191px;
			transform: rotate(-90deg);
		}
	}
}

div#layers-control-panel-weather-radar {
	position: absolute;
	top: 232px;
	left: 28px;
	width: 210px;
	> div.horizontal-separator {
		position: relative;
		left: 6px;
		width: 170px;
	}

	> button#weather-radar-play-pause-button {
		float: right;
		position: relative;
		left: 14px;
		top: 6px;
	}
	> div#weather-radar-timestamp {
		line-height: 26px;
		width: 100%;
		text-align: left;
	}
	> div#weather-radar-time-slider-container > input#weather-radar-time-slider {
		width: 111px;
	}
}
div#layers-control-panel-view-summary {
	position: absolute;
	top: 330px;
	left: 35px;
	table > tbody > tr {
		> td {
			&:first-child {
				width: 100px;
				text-align: left;
			}
			&:last-child {
				width: 75px;
				text-align: right;
			}
		}
	}
}

div#nav-control-go-to-coords {
	position: absolute;
	top: 10px;
	right: 225px;
	input {
		width: 100px;
	}
}

div#nav-control-go-to-location {
	position: absolute;
	right: 490px;
	top: 10px;
}

div#nav-control-drop-coords {
	position: absolute;
	right: 540px;
	top: 10px;
}

div#center {
	position: absolute;
	top: calc(50% - 11px);
	left: calc(50% - 11px);
}
.waypoint-icon {
	> .action {
		position: absolute;
		width: 15px;
		line-height: 15px;
		font-size: 16px;
	}
	.waypoint-unconfirmed,
	> .action {
		color: gray;
		text-shadow: none;
	}
	.waypoint {
		position: absolute;
		width: 130px;
		line-height: 15px;
		text-align: center;
		&.elev {
			top: 15px;
		}
		&.tri {
			font-size: 18px;
			top: 30px;
		}
	}
}

.distance-icon {
	> div.distance-rotation {
		width: 150px;
		line-height: 15px;
		text-align: center;
	}
}
