// leaflet overrides
.leaflet-container {
	font-family: courier;
	font-size: 12px;
	font-weight: 1000;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;

	.leaflet-control-container {
		> .leaflet-bottom.leaflet-right {
			> .leaflet-control-zoom.leaflet-bar.leaflet-control {
				border: none;
				> .leaflet-control-zoom-in,
				> .leaflet-control-zoom-out {
					font-size: 18px;
					border: none;
					background: none;
				}
			}
			> .leaflet-control-attribution.leaflet-control {
				display: none;
			}
		}
		> .leaflet-top.leaflet-left {
			> .leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
				position: relative;
				top: 36px;
				left: 12px;
				border: none;
				background: none;
				> .leaflet-control-layers-scrollbar {
					overflow: hidden;
					> .leaflet-control-layers-separator {
						border-top: 1px solid black;
					}
				}
			}
		}
	}
}
